<ion-content>
  
    <ion-toolbar>
      
<ion-button  color="dar"    slot="start">
  <ion-back-button defaultHref="/tab1.page"> </ion-back-button>
</ion-button>
<ion-title color="light">INSCRIPTION</ion-title>
     
    </ion-toolbar>
  

  <div class="padding">
        
    <div class="logo">
        <ion-icon color="light" slot="start" name="add"></ion-icon>
    </div>
<ion-item>
    <ion-label>PRENOM</ion-label>
    <ion-input color="light" placeholder="votre prenom" type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label>NOM</ion-label>
    <ion-input color="light" placeholder="votre nom" type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label>ADRESSE</ion-label>
    <ion-input color="light" placeholder=" votre adresse" type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label>TELEPHONE</ion-label>
    <ion-input color="light" placeholder="votre numéro de téléphone" type="number"></ion-input>
</ion-item>
<ion-item>
    <ion-label>EMAIL</ion-label>
    <ion-input color="light" placeholder="adresse email" type="email"></ion-input>
</ion-item>
<ion-item>
    <ion-label>VOTRE MOT DE PASSE</ion-label>
    <ion-input color="light" placeholder="votre mot de passe" type="password"></ion-input>
</ion-item>

    <br>
    <br>

<ion-button routerLink="/home" color="light" shape="round" expand="block"  slot="end">
    ENREGISTRER
</ion-button>





</div>


</ion-content>
