<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>RECTIFICATION</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-card class="padding"> 
    VOUS AVEZ OUBLIE VOTRE MOT DE PASSE
    
    <ion-item lines="none"> 
      <ion-item>
        <ion-label>VOTRE MAIL</ion-label>
        <ion-input  placeholder="votre adresse mail" type="mail"></ion-input>
    </ion-item>
    <ion-item lines="none" > 
      <ion-button color="light" fill="clear" shape="round" expand="block" >HOMMES
      </ion-button>
        <br>
      </ion-item> 
      <ion-item lines="none" >
        <ion-button color="light"  fill="clear" shape="round" >FEMMES
        </ion-button></ion-item> 

    </ion-card>
  </div>
</ion-content>
